/*@import "reset";*/
@import "base";

/*show_banner*/
.show_banner{
	height: 520px;
	width: 100%;
	/*border: 1px solid;*/
	.show_banner_wrap{
		width: 1205px;
		height: 520px;
		margin: 0 auto;
		img{
			width: 1205px;
			height: 520px;
		}
	}
}

/*goods*/
.goods{
	width: 100%;
	height: 318px;
	/*overflow: hidden;*/
	.goods_wrap{
		width: 1140px;
		height: 248px;
		margin: 0 auto;
		background: sgreen;
		overflow: hidden;
		.goods_left{
			width: 552px;
			height: 240px;
			float: left;
			.goods_left_top{
				height: 90px;
				width: 552px;
				border-bottom: 1px solid #e4dbcd;
				p{
					font-size: 18px;
					line-height: 60px;
					i{
						color: #ff4001;
						float: right;
						font-weight: 600;
					}
					span{
						color: #ff4001;
						padding-left: 0.2%;
						font-weight: 600;
						float: right;
					}
				}
			}
			.goods_left_bottom{
				width: 523px;
				height: 136px;
				/*border: 1px solid;*/
				margin-top: 15px;
				margin-left: 32px;
				p{
					font-size: 12px;
					color: #ff4001;

				}
			}
		}
		.goods_right{
			height: 240px;
			width: 588px;
			float: left;
			/*border: 1px solid;*/
			.goods_right_wrap{
				height: 222px;
				width: 550px;
				margin-left: 38px;
				margin-top: 20px;
				.goods_eat{
					height: 150px;
					>p{
						font-size: 12px;
						line-height: 24px;
					}
					.eat_num{
						height: 62px;
						width: 550px;
						/*border: 1px solid #ff4001;*/
						border-bottom: 1px solid #ff4001;
						p{
							display: block;
							font-size: 12px;
							text-align: center;
							line-height: 62px;
							height: 62px;
							width: 138px;
							border: 1px solid #ff4001;
							border-bottom: 1px solid white;
						}
					}
					.eat_spec{
						display: flex;
						height: 60px;
						border-bottom: 1px solid #e4dbcd;
						font-size: 12px;
						p{
							width: 136px;
							/*border: 1px solid;*/
							/*padding-left: 20px;*/
							line-height: 60px;
							i{
								display: inline-block;
								width: 20px;
								height: 20px;
								/*border: 1px solid;*/
								vertical-align: middle;
							}
						}
						.tableware{
							i{background: url(/img/icons_1.png) no-repeat -116px -217px;}
						}
						.size{
							i{background: url(/img/icons_1.png) no-repeat -66px -216px;}
						}
						.weight{
							i{background: url(/img/icons_1.png) no-repeat -166px -217px;}
						}
						.sweet{
							i{background: url(/img/icons_1.png) no-repeat -203px -216px;}
						}
					}
				}
				.goods_buy{
					height: 70px;
					/*border: 1px solid;*/
					button{
						margin-top:14px;
						width: 260px;
						height: 52px;
						margin-left:10px;
						font-size: 18px;
					}
					#btn{
						border: none;
						border: 1px solid #ff4001;
						background: white;						
						a{
							color: #ff4001;
						}					
					}
					#btn2{
						background: #ff4001;
						border: none;
						a{
							color: white;
						}
					}
				}
			}
		}	
	}
	.promotion{
			width: 1200px;
			height: 60px;
			/*float: left;*/
			margin: 0 auto;
			margin-top: 20px;
			p{
				display: inline-block;
				width: 1184px;
				/*padding-left:20px;*/
				padding-left:20px;
				font-size: 12px;
				color: #ff4001;
				background: #e4dbcd;
				line-height: 34px;
			}
		}
}

/*goods_pic*/
.goods_pic{
	width: 100%;
	min-height: 2600px;
	overflow: hidden;
	.goods_pic_wrap{
		width: 1200px;
		margin: 0 auto;
		.img{
			width: 1200px;
			img{
				width: 1200px;
			}
		}
	}
}


/*omments*/
.comments{
	width: 100%;
	min-height: 370px;
	.comments_wrap{
		width: 1200px;
		min-height: 370px;
		margin: 0 auto;
		border-top: 1px solid #e5e5e5;
		overflow: hidden;
		.top_hide{
			height: 55px;
			width: 95px;
			margin: 0 auto;
			margin-top: 85px;
			h2{
				font-size: 20px;
				text-align: center;
				line-height: 48px;
				color: #505065;
			}
			h4{
				width: 40px;
				border: 1px solid #ff501b;
				margin: 0 auto;
			}

		}
		.bottom_hide{
			height: 76px;
			/*border: 1px solid;*/
			margin-left:75px;
			margin-top: 60px;
			/*overflow: hidden;*/
			.c_left{
				margin: 10px auto 0;
				width: 50px;
				height: 50px;
				background: url(/img/avatar.png) no-repeat center;
				float: left;
			}
			.c_right{
				font-size: 12px;
				overflow: hidden;
				p{
					float: left;
					padding-left: 20px;
					padding-top: 18px;
					color: #949494;
				}
			}
			>p{
				font-size: 12px;
				display: inline-block;
				padding-left: 20px;
				a{
					color: #3e3e3e;
				}
			}
		}
	}
}

/*share*/
.share{
    width: 100%;
    min-height: 490px;
    overflow: hidden;
    .share_wrap{
        width:1246px;
        height: 100%;
        margin: 0 auto;
        overflow: hidden;
        margin-bottom: 50px;
        h3{
        	margin-bottom: 40px;
        	text-align: center;
        }
       .share_product{
            width: 1210px;
            height: 490px;
            margin: 14px auto 0;
            >div{
                width: 300px;
                height: 428px;
                float: left;
                
                dl{
                    width:260px;
                    height: 400px;
                    background: white;
                    margin: auto;
                    margin-top: 14px;
                    font-size: 14px;
                    overflow: hidden;
                    dt{
                        width: 260px;
                        height: 260px;
                        overflow: hidden;
                        img{
                            width:260px;
                            height: 260px;
                            transition: all 1s;
                        }
                    }
                    dd:nth-child(2){
                        line-height: 26px;
                        span{
                            display: inline-block;
                            height: 24px;
                            padding: 0 6px;
                            margin-right: 10px;
                            background: #ff4001;
                            color: white;
                            text-align: center;
                            line-height: 24px;
                        }
                    }
                    dd:nth-child(3){
                        margin-top: 34px;
                    }
                    dd:nth-child(4){
                        a{
                            color:#ff3500;
                        }
                    }
                }
                &:hover{
                    img{
                        transform:scale(1.1);
                        }
                    background: #f3e7e7;
                    dl{ background: #f3e7e7;} 

                }
            }
            p{
                font-size: 14px;
                display: inline-block;
                margin-top: 24px;
                margin-left: 92%;
                a{color:black;}
                span{padding: 0 4px;}
            }
        }
    }
}